aws_profile = "persona2"
aws_region  = "us-east-1"
az          = "us-east-1a"
resource_suffix = "nlr"

admin_email = "tuemail@example.com"
allowed_admin_cidr = "203.0.113.10/32"

instance_type = "t3.micro"
ami_id        = ""
key_name      = ""

existing_instance_profile_name = ""
existing_lambda_role_arn       = ""

threshold_total   = 20
threshold_per_ip  = 10
s3_log_expire_days = 30
enable_ssm         = true
